body {
    padding: 0 30px;
    font-size: 18px;
    line-height: 30px;
    font-family: "Georgia", serif;
    color: #222222;
}
.menu{
    list-style-type: none;
    display: flex;
}
a {
    color: #ffc0cb;
    text-decoration: underline;
}

