body {
    padding: 0 30px;
    font-size: 25px;
    line-height: normal;
    font-family: "Georgia", serif;
    color: rgb(255, 209, 209);
    background-color: rgb(0, 0, 0);
}
.menu{
    list-style-type: none;
    display: flex;
}
nav {
    margin-bottom: 30px;
    padding: 20px;
    border:5px solid rgba(255, 255, 255, 0.56);
    background-image: url("https://i.pinimg.com/564x/95/22/2d/95222d98f9c1300c11be917988f4d182.jpg");
    background-color: rgba(255, 255, 255, 0.56);

    color: #000000;
}
.menu a,
.vk{
    text-decoration: none;
    color: #000000;
    margin: 20px;
    font-size: 30px;
}
.menu a:hover, .vk:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.42);
    margin: 20px;
    font-size: 30px;
    border-bottom: 1px dashed;
}
img {
    border-radius: 40px;
}
button{

}
footer{
    margin-bottom: 20px;
    padding: 20px;
    border:5px solid rgba(255, 255, 255, 0.56);
    background-image: url("https://i.pinimg.com/564x/95/22/2d/95222d98f9c1300c11be917988f4d182.jpg");
    background-color: rgba(255, 255, 255, 0.56);

    color: #000000;
}
#creator{
    text-align: right;
    color: rgba(0, 0, 0, 0.55);
}

