body {
    padding: 0 30px; /*внутренние отступы верхниз левоправо*/
    font-size: 25px; /*размер текста*/
    line-height: normal; /*высота строки\межстрочный интервал*/
    font-family: 'Montserrat', sans-serif; /*изменение шрифта*/
    color: rgb(0, 0, 0); /*изменение цвета текста*/
    background-color: rgb(255, 255, 255); /*цвет фона*/
}

p {
    margin: 0;
}

.menu {
    list-style-type: none;
    font-size: 35px;
}

.menu, nav, .form {
    width: auto;
    display: flex;
    flex-direction: row; /*расположение слева направо*/
    justify-content: space-around;
    align-items: center;
}

nav {
    margin-bottom: 30px; /*внешний нижний отступ*/
    padding: 20px;
    border: 5px solid rgba(255, 255, 255, 0.56); /*рамка*/
    background-image: url("https://i.pinimg.com/564x/95/22/2d/95222d98f9c1300c11be917988f4d182.jpg");
    background-color: rgba(255, 255, 255, 0.56);

    color: #000000;
}

.menu a,
.vk {
    text-decoration: none;
    color: #000000;
    margin: 20px; /*внешний отступ со всех сторон*/
    font-size: 30px;
}

.menu a:hover, .vk:hover { /*active button*/
    text-decoration: none;
    color: rgba(0, 0, 0, 0.42);
    margin: 20px;
    font-size: 30px;
    border-bottom: 1px dashed;
}

img {
    border-radius: 40px; /*скругление иконки*/
}

#user-password, #user-login {
    font-size: 18px;
}

#remember {
    transform: scale(1.5); /*величина чекбокса*/
    margin-right: 5px;
}

.h1 {
    text-align: center;
    font-size: 40px; /*размер текста*/
    color: #ff84ce;

}

.news {
    display: block;
    width: auto;
    margin-top: 60px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.section {
    display: flex;
    justify-content: space-around;
}

.h2 {
    text-align: center;
    color: #ff86f3;
    font-size: 40px; /*размер текста*/
}

h3 {
    align-items: baseline;
}

.column {
    display: flex;
    flex-direction: column; /*расположение сверху вниз*/
    width: 500px;
    text-align: center;
}

.time {
    text-align: right; /*расположение справа*/
    margin-right: 20px;
    color: rgba(0, 0, 0, 0.55);

}

footer {
    margin-bottom: 20px;
    padding: 20px;
    border: 5px solid rgba(255, 255, 255, 0.56);
    background-image: url("https://i.pinimg.com/564x/95/22/2d/95222d98f9c1300c11be917988f4d182.jpg");
    background-color: rgba(255, 255, 255, 0.56);

    color: #000000;
}

#creator {
    text-align: right; /*расположение справа*/
    color: rgba(0, 0, 0, 0.55);
}

.input {
    margin-top: 8px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 8px;
}

.user-login {
    grid-column: 1;
    grid-row: 1;
}

.user-input {
    grid-column: 2;
    grid-row: 1;
}
.user-password{
    grid-column: 1;
    grid-row: 2;
}
.remember {
    grid-row: 3;
    grid-column: 2;
}

.log-in {
    grid-row: 3;
    grid-column: 1;
    font-size: 22px;
}
